body {
    background-color: #eee;
}

.list-table {
    margin-top:20px;
    background-color: #ffffff;
}

.list-group {
    margin-top:20px;
}

.btn-nav {
    margin: 8px 5px;
    width: 172px;
}

.edit {
    margin-top:20px;
    ackground-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
}

.input-textarea {
    height: 100px !important;
}