<div class="well user-wrap">
    <h4>注册用户数：<%= data.reg_user_count%></h4>
    <h4>
        用户详情：
        <a target="_blank" href="/<%= data.reg_user_summary_file_url%>" class="btn btn-primary"
           role="button">下载</a>
    </h4>
</div>